@import "../abstracts/variables";

.content-1 {
 width: $width-max;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;


   
}
.content-link{
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.6rem 1rem ;
    transition: 0.5s;
}













